body {
    background-color: #4C586F;
    color: #EBECED;
    margin: 0;
}

a {
    text-decoration: none;
    font-size: 12px;
    color: #CBC5C1;
}

.bar {
    height: 22px;
    padding-top: 2px;
    background-color: #3E3E3B;
    
    display: flex;
    flex-direction: row;
}

.bar span {
    /* margin-left: 32px;
    margin-right: 32px; */
    flex-grow: 1;
    text-align: center;
}
.bar .main {
    flex-grow: 1;
}

.header {
    height: 132px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.video {
    display: flex;
    flex-direction: column;
    align-items: center;

}

#videoPlayer {
    max-width: 80%;
    margin: 12px auto;

}

.chat-section {
    display: flex;
    flex-direction: row;
    height: 320px;
    border: #3E3E3B solid 2px;
    background-color: #4C586F;
    max-width: 80%;
    margin: 12px auto;
}

.users {
    flex-grow: 1;
    border: #3E3E3B solid 2px;
}

.chat-box {
    display: flex;
    flex-direction: column;
    flex-grow: 5;
    border: #3E3E3B solid 2px;
    background-color: #A2AAB0;
    color: black;
    padding: 6px 10px;
}

#chat {
    align-self: flex-start;
    flex-grow: 4;
    overflow: auto;
    width: 100%;

    display: flex;
    flex-direction: column;
}

.input {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.chat-box input{
    align-items: flex-start;
    flex-grow: 4;
}

footer {
    text-align: center;
}


.self {
    color: white;
}

.other {
    color: black;
}

.server {
    color: #CBC5C1;
    font-style: italic;
}